        <div class="post">
                <div class="imgpost"><img src="/photos/profile.jpg" alt="Example Image"/></div>
                
                <div class="post_comment"> 
                    <span>" I'm Michael Akoolo</span>
                    <span>a Full Stack Developer committed to building websites </span>
                    <span>that not only meet but surpass your vision and business goals "</span>
                    
                </div>
             </div>
             <div class="btnwrapper"> 
                <button type="button"  class="btn btn-outline-success">Find me  </button>
                <button type="button"[routerLink]="" class="btn btn-outline-success" >More.. </button>
             </div>
    
        


    

