<section id="contact" style="text-align: center; padding: 50px;">
    <h2>Contact Me</h2>
  
    <!-- Dropdown Button -->
    <div class="dropdown">
      <button class="dropdown-btn" (click)="toggleDropdown()">Social Links</button>
      <div class="dropdown-content" [ngStyle]="{display: dropdownOpen ? 'block' : 'none'}">
        <!-- Social Icons -->
        <a href="https://web.facebook.com/MichaelBoolean/" target="_blank">
          <i class="fab fa-facebook-f"></i> Facebook
        </a>
        <a href="https://twitter.com/mikeakoolo254" target="_blank">
          <i class="fab fa-twitter"></i> Twitter
        </a>
        <a href="https://www.linkedin.com/in/mike-akoolo-557322232/" target="_blank">
          <i class="fab fa-linkedin-in"></i> LinkedIn
        </a>
        <a href="https://www.github.com/mikeakoolo254" target="_blank">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
          </a>
          <a href="https://stackoverflow.com/users/16898839/michael-akoolo" target="_blank">
            <i class="fa-brands fa-stack-overflow"></i> StackOverflow 
          </a>
          <a href="https://www.youtube.com/channel/UC6p9vxdkrqvizMdnapyaUkw" target="_blank">
            <i class="fab fa-youtube"></i> YouTube
          </a>
      </div>
    </div>
  </section>
  <div class="spacecontact"></div>
  